// Fonts

$primary-font: 'lato', sans-serif;

$base__font-size: 16px;
$base__line:      24px;


// body color guide

$primary-color:  #58e1c1;
$primary-color-light: lighten($primary-color, 15%);
$secondary-color:#777;
$link-color:     #51ddfc;
$border-color:   #ccc;



// Button color guide

$Btn-text:  #fff;
$default:   #51ddfc;
$error:     #e4757a;
$info:      #927bc1;
$success:   #63cc82;
$warning:   #fd7856;





// grid color guide

$col-1:  #927bc1;
$col-2:  #fd7856;
$col-3:  #deb2ee;
$col-4:  #7ee6fd;
$col-5:  #88d9a0;
$col-6:  #4da2bb;
$col-7:  #ec9fa3;
$col-8:  #fd9f85;
$col-9:  #e4757a;
$col-10: #63cc82;
$col-11: #51ddfc;
$col-12: #80e8d1;



// media breakpoint


$brk-narrow: 768px;




